h1 {color: red;
    background-color: lightskyblue;
    text-align: center; /*alignement horizontal du texte*/
    text-decoration: dotted underline;
    text-justify: auto;
    height: 150px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMwAAADACAMAAAB/Pny7AAAAmVBMVEUHEiT///9H7ToAAAAAACMAACBB2DhI8Tonfy2tra8AABYAAA/j5OVhYmZPUloAABoACx+7vL8AABMpKjKztLYyNT8vLzMAAAnBwsX39/jw8PEpiS3Ky83a2tvT1NWVlZUXSyhD3jhnaGhzdHajpah9foIQFB1BQUaGiIwbHStISU5WV1oTFiZpanAXGyMmLDk5OTscHB5MTEueE0m7AAAICElEQVR4nO2di3ajNhCGcbXbLTdLYGMu5dIGMBjsxNn3f7hCHMeONGAsw5am85+ze86G7G99aDSSBpQoCgqFQqFQKBQKhUKhUCgUCoVCoVD/K3373urbv92MUfTtjz9b/fUlaL7//aPVH18D5vcfvzVCmNkJYeYqhJmrEGauQpi5CmHmKoSZqxBmrkKYuQph5iqEGSBGNc22dd3WNMrYI0aNU+Pz7tT/vRPAMM0l+s6p6tp8ejLrunjZ68TV7idi1CXu3inORpWz0wjpMRobhrlEq9IkW3thFBmNoji01lmSVpS49/AwnZDiZBSfjKLYa4zy5Z4QCv+fcWF0wg6ZFRsLXr4Re9lhP5hHI7TOrNDwBacg9tTUIQQyGhGGEVJnAMiHjHh90MFWcNJJkUAgH0CRlStA94wH45KD19OA830tn2/hULK0bhtF2V4wGgumaUF8qwFv8o2SkF6jXTjIaBFkfLCNA8PIizWoAW8yzK4R3OQPlg03Ckpijw5DST68Ba2slQ3GGtXTnjEHKK6vjUaAYfbxjm45KaghGs3JhkXYlVG5v/Ty4zDMNu+7myeVG56G2XUoYZQ5H0YPw7DnPJBowsI/uJyTm0YyRovyo2sehWHbUopl4RVcEiB3DpezonqsnpFmiQudY3mSM4rMS0J7EMaWi7GFUXBBRmq5fjFS/TL2HoPRlnIsiyU3b9orufESlNuxUjNdxXIsJtcvjMjksSaLZJ8y/EMwZN33QbGalGWZqLHQe7nOG/VO+5GVlHljFApG6uf1zCMwxOz8fCOryEVO+SmIEn7CdJ86B0ygLvWL0UvqXc+q4XhrM0Y6Bowfp4Rc3/xmf7j0Pr5ZXXEsbOd13ZOk2bRefTdteNYfRrHNZfcHYLpiIypdcZWvk/p9MWwdNe6ancCLGEMF9mAacawTjvHMR6s8jObATbAqeMPiakkbTGHFN4EW8OiPTdjI3uZt1BqVsJOQhyEq2ITsmV+mnMXaOT6qhctaDt4Vi5+KroyaRVyQirsiaRitAgdt5nZtVZR2lg8PQhPYEewYy+F78Nqo8nJb/LI0DDxiMr13T2zzC7JG2gEyCvtYmv9U7IEPkoVhDJovw01Pv7QSL7NnKFyNCrjxnz8f+KIsDEmBvBzUfKK6LXaEjPK+MkGnpGGgyb+UKFuCURZKscjCUAeIsrC4v2MUF9hy+46EkSINo0Nb5bJ3zMJiBDCy5DpGFoYAk3ZU3xi0kKgDRJkjYdRKDoZRIAWtFYlHF1CRypDsGFkYoObnl3wb2NV6F9AbOjRdJQKMfdtIHgZaTkVLLjjYLl+r3cre0gW0KxPyiJv2Ga2d8+wlB2PX4i435KOMrfr2bgvDbPMFMP594blHxzLwrOUZXg5GB6ZMIQUNgWEESCRClE0MAxRlMhkYSsULYmKeFsYVYXxh2A6C2YsXxPE/MUwpREcgJrMhMDvxQinsYyYOs1JwlIQB5kyhdvNfgdEAGHFVNHUCEMJMcsy8iBeSXx1mQAKQy2bAmFF/dWoG5hmhDYPmGUW84P1qGKAEKTVpKsCkGf9iGGg54/HbcunljFAumxZm2EJzEAyw0Kz4hWZvgf5hGLYTtwBCbma70rMu8riAeocBtgBCkie5dW3Ej9dHYTSgDWI6+7Tr2HIBdYJxgXqGOGjca6NXvsz+IIxCxPXMInT6imbUAWEYMNH4vUUethkbRjfFDBCkXcXhPhiooCHE2bQw7AUYuOqu5452wCg6kKmiviLv+DBgtgyeeqoqXTDak2jU2zUTwLhQ4czin4kNgGFHwMg4dpfgJoBhOlQ4F7cit2H20OOENfzW00QwzQQBPCLyzc746IKBi83NGryLZgoYuoMez/pFF00njNi4VkHeRTMFTNfzWaeDphOm2U9APn4XzSQw3xX4AW1OwBfDu2Eo2DXNiuIVnDwngVFIArZh4VVbAMfuhGmWXvALBdESwhHZx4CBlu9vCjJzQ+0LEGNU11Z8Lr/AMNa1xF+bR6Zrl70Fo7a+q/k8OgqMvuxowyLwyqfqhb6vDJVV9VSuefILjOIC26N3NUY/nfOKle4KM82EWzgKTO/7O0G4zpIkKZs/2Vp8hecTDFSH+5AfW41R+W4EBcM4MLTzpZcBuoZh2/69ZL/GgVG07vi4C0bRNnIvnI0JA1Y2ZGAUu5A2Gg2G2ZLvvPIwir6RphkLRmHAAwEpGEV3JI3Gg2nfB5R875WDUXTZNz5HhFEIP7dLwjRZ4O4zBaPDKK62vvc8AgijaNtEJtRGhWmPnNyfouMlX+tryxuHgSeBrhQUjz1tFkQK9b5YM1QTfAeCOMl998Ww8g+jsY5pabo5HMcPM7PrYCAldTYcJ1LT7aMvNUDSV+agm+rHWV65PcUkXa+TQeuBSC1r5fqejHm0UVeqdH1jBHvlodrp/W9gMZsWB3Fx/Flxcvi5sz/vd0Y9dMqotvp5UDv6p+mS9OdGuXlCuRXVngsz6zpfGKl5fdxrws5t9OPAlG5fj2aphkZwaorvG1G4Tg7V5nVLh4CcjbTt62ZZZp4RnJz8IDBiK0mXq9ctfPp7ioPazX7wrWxv0/1u3/yDnP5x/+Fz1p75btQMsN2uib43o3bn2eE04c8DaD6T0favR07Qn53oEB/84QZzFcLMVQgzVyHMXIUwcxXCzFUIM1chzFyFMHMVwsxVCDNXIcxchTBzFcLMVV8L5iv9mqMv9QuovtSvBkOhUCgUCoVCoVAoFAqFQqFQKNQc9Q/8rrpV+v4+LwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    /* opacity: 1; */
}

li {
    font-weight: bold;

    list-style-type: decimal;
}


h2 {
    color: blue;
    background-color: lightskyblue;
    /* height: 80px; */
    width: 130px;
    padding: 20px;
    margin-left: 50px;
    border: 5px solid green;
    border-radius: 50px;

}


table {
    border-collapse: collapse;
    empty-cells: hide;
}